@keyframes modal-background-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes modal-background-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes modal-window-show {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes modal-window-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.modalWindow{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: modal-background-show 0.3s;
    &_animationClose {
        animation: modal-background-hide 0.3s;
        animation-fill-mode: forwards;
        animation-delay: 0.15s;
        .modalWindow__content {
            animation: modal-window-hide 0.3s;
            animation-fill-mode: forwards;
        }
    }
    &__content {
        background: #fff;
        max-width: 400px;
        z-index: 2;
        border-radius: 5px;
        animation: modal-window-show 0.3s;
        animation-delay: 0.15s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    &__header{
        background: #EAEAEA;
        border-radius: 5px;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3{
            font-size: 16px;
            text-transform: capitalize;
            line-height: 22px;
            color: #575757;
            font-weight: 800;
        }

        span{
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            color: #666666;
        }

        &:not(:first-child){
            margin-top: 10px;
        }
    }

    &__body{
        padding: 15px 30px 22px;

        .headText{
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            color: #000;
            display: block;
            margin-bottom: 5px;
        }

        .choose:not(:last-child){
            margin-bottom: 10px;
        }

        select{
            border-radius: 3px;
            background: #E9E9E9;
            border: none;
            display: block;
            width: 100%;
            padding: 10px 15px;
        }

        select:active, select:focus{
            border: none;
            outline: none;
        }

        .buttonsBlock{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            &__Cancel, &__Send{
                border-radius: 4px;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                min-width: 135px;
                padding: 8px 15px;
                cursor: pointer;
            }

            &__Cancel{
                border: 1px solid #D0D0D0;
                color: #000;
                background: #fff;
            }

            &__Send{
                border: 1px solid #48BA46;
                color: #fff;
                background: #48BA46;
            }
        }
    }
}