.addVocationModal {
  width: 393px;
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.addVocationModal__header {
  background: #EAEAEA;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15.5px 31.44px;
  span {
    &:first-child {
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.375rem;
      text-transform: capitalize;
      color: #575757;
    }
    &:last-child {
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      color: #666666;
    }
  }
}
.addVocationModal__content {
  padding: 15px 27.81px;
}
.addVocationModal__inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > label {
    width: 50%;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      width: calc(50% - 15px);
    }
    & > span {
      font-size: 12px;
      line-height: 18px;
      color: #000000;
      margin-bottom: 5px;
    }
    & > input {
      max-width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      border-bottom: 1px solid #D0D0D0;
      outline: none;
      background-color: transparent;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      color: #000000;
      padding-bottom: 6px;
      transition: border-color var(--transition-time);
      &:focus {
        border-bottom-color: darken(#D0D0D0, 20%)
      }
    }
  }
}
.addVocationModal__errors {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  & > li {
    background-color: #ff3a3a;
    border-radius: 5px;
    padding: 7px;
    color: #fff;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.addVocationModal__formGroup {
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0;
  }
}
.addVocationModal__formGroupHeader{
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #000000;
  margin: 0;
  margin-bottom: 6px;
}
.addVocationModal__select {
  width: 100%;
}
.addVocationModal__added {
  background-color: #9bff99;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 10px;
  color: green;
}